#Ide files
.idea/
.buildpath
.project
.settings/
*~
nbproject/

# Composer files
composer.phar
composer.lock
vendor/

# Public Files
/public/hot
/public/storage
/storage/*.key

#Report Files
phpmd-modules.txt
phpmd-app.txt

/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
/nbproject/private/
npm-debug.log
/.vagrant
yarn-error.log

_ide_helper.php
phpmd-app.txt

.editorconfig
